<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <form enctype="multipart/form-data" method="post">
            <p>
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </p>
            <p>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </p>
            <p>
                <label for="password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password">
            </p>
            <p>
                <label for="image">Image</label>
                <input type="file" name="image" id="image">
            </p>
            <p>
                <input type="submit" value="Register" name = "submit">
            </p>
        </form>
</html>